@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>Current branch: @ViewData["GitBranch"]</p>
<p>Current revision: @ViewData["GitRevision"]</p>
<p>Build date: @ViewData["BuildDate"]</p>
